

/*----------- HEADER---------------
/--------------------------------*/

.header {
    display: flex;
    flex-direction:column; 
    width: 100%;
    justify-items:center;
    align-items: center;
    gap: 10px;
}

/*--------- LOGO -------------*/
.logo {
   width: 40%;
    max-width: auto;
}


.logo__img {
    width: 170px;
     max-width: auto;
 }

/*------------ BUSCADOR ---------*/
.buscador .input {
    width: 50%;
}


/*--------- INICIO DE SESION ----------*/
.iniciosesion {
    width: 30% ;
}



/*----------- BANNER --------------
/--------------------------------*/

.banner {
    display: inline-block;
    position: relative;
}


.banner__img{    
    width: 100%;
    height: 100%;
}

.banner__conjunto-texto {
    position: absolute;
    bottom: 10px;
    left: 10px;
}


.banner__boton {
    border: none;
    background: #6A558A;
    color: whitesmoke;
    font-size: 12px;
    padding: 10px;
    width: 110px;
    height: 30px;
    border-radius: 5px;
}


/*----------- PRODUCTOS------------
/--------------------------------*/

.productos {
        padding: 20px;
    }
    
.productos .productos__gridvideos{
    display: grid;
    grid-gap: 30px 5px ;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    font-size: 16px;
    text-decoration: underline;
}

.productos__gridvideos {
    text-decoration: none;
}


.producto__titulo {
    margin-top: 8px;
    text-decoration: none;
}

.producto__precio{
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos__gridvideos__videos {
    line-height: 12px;
}

.producto__titulo .producto__precio  {
    text-decoration: none;
}
/*----------- CONTACTO ------------
/--------------------------------*/

 .contacto {
    background: rgb(255, 166, 0);
}




/*----------- FOOTER --------------
/--------------------------------*/

.footer {
    background: blue;
    grid-area: footer;
}
