/*----------- MENU ADMINISTRADOR ------------
/--------------------------------*/

.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }

/*------- LISTADO CLIENTES ----------
/--------------------------------*/



.tabla__listado {
    background: #f8f7ff5f;
    width: 100%;
    height: 110vh;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    border-top: outset;
    flex-direction: column;
    gap: 10px;
}


.tabla {

    /* gap: 20px; */
    margin-top: 10vh;
    justify-content: space-evenly;
    border-style: ridge;
    border-left: 0.5px;
    border-right: 0.5px;
    border-radius: 5px;
    border-color: #6A558A;
    border-width: 2px;
    padding: 0px 15px;
}

.tabla__encabezado {
    border-bottom: 2px;
    border-left: 0.5px;
    border-right: 0.5px;
    border-radius: 5px;
    border-color: #6A558A;
    border-width: 2px;

}


a{
    text-decoration: none;
    color: black;
}


ul li {
    list-style: none;
    width: 50%;
}

.tabla__nombre, .tabla__email, .tabla__nuevoCliente  {
    padding: 10px 60px;
    align-items: center;
}


.tabla__nuevoCliente-p{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-around;
    flex-wrap: wrap;
}


.tabla_nuevoCliente-icons{
    display: flex;
    width: 80%;
    flex-direction: row;
}

.boton {
    border: none;
    background: none;
    padding: 0px;
}


/* .tabla__nuevoCliente-i{
    display: flex;
    gap: 20px;
} */









