.contenedor {
    width: 99%;
    max-width: auto;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:    "header     header"
                            "productos  productos"
                            "contacto   contacto"
                            "footer     footer";
}


.header {
    grid-area: header;
}


.iniciosesion {
    grid-area: iniciosesion;
}


.productos {
    grid-area: productos;
}


 .contacto {
    grid-area: contacto;
}


.footer {
    grid-area: footer;
}
